<!doctype html>
<title>{% block title %}{% endblock %} - FastAPIr</title>
<link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
<nav>
  <h1>FastAPIr</h1>
  <ul>
    {% if user %}
      <li><span>{{ user.username }}</span>
      <li><a href="{{ url_for('index') }}">Top</a>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('index') }}">Top</a>
      <li><a href="{{ url_for('register_page') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for _ in request.session.get('flashes', []) %}
    <div class="flash">{{ request.session['flashes'].pop(0) }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>